<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414739262677-cmvbpra90i053dk7sqk9s8t2gorq69kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414739262677-cmvbpra90i053dk7sqk9s8t2gorq69kv</string>
	<key>API_KEY</key>
	<string>AIzaSyAXQidmKknVWvz7igN2Jj9d727s05x6Qb4</string>
	<key>GCM_SENDER_ID</key>
	<string>414739262677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cardsandtreasure</string>
	<key>PROJECT_ID</key>
	<string>candt-admin-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>candt-admin-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414739262677:ios:120b7965c0c3d4d31d465c</string>
</dict>
</plist>